<footer>
    <div class="bg-charcoal text-center shadow inner-shadow container-fluid">
        <div class="row justify-content-center align-items-center">
            <div class="col-12 d-lg-none">
                <!-- Bouton pour le menu déroulant sur mobile -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#footerNav" aria-controls="footerNav" aria-expanded="false" aria-label="Toggle footer">
                    <img src="{{ asset('/assets/images/logo.png') }}" alt="Logo" style="max-height: 30px;">
                </button>
            </div>
            <!-- Menu déroulant -->
            <nav class="collapse navbar-collapse d-lg-flex " id="footerNav">
                <ul class="navbar-nav d-flex flex-lg-row justify-content-around align-items-center col-12">
                
                        <div class="col mx-lg-3">
                            <li class="nav-item mx-lg-3">
                                <a class="nav-link fs-5" href="#">À propos</a>
                            </li>
                        </div>
                        <div class="col mx-lg-3">
                            <li class="nav-item mx-lg-3">
                                <a class="nav-link fs-5" href="#">Politique de confidentialité</a>
                            </li>
                        </div>
                        <div class="col-1 mx-lg-3 d-none d-lg-block">
                            <li class="nav-item mx-lg-3 text-center">
                                <a href="/">
                                    <img src="{{ asset('/assets/images/logo.jpg') }}" class="img-fluid" alt="Logo" style="max-height: 50px;">
                                </a>
                            </li>
                        </div>
                        <div class="col mx-lg-3">
                            <li class="nav-item mx-lg-3">
                                <a class="nav-link fs-5" href="#">Conditions d'utilisation</a>
                            </li>
                        </div>
                        <div class="col mx-lg-3">
                            <li class="nav-item mx-lg-3">
                                <a class="nav-link fs-5" href="#">FAQ</a>
                            </li>
                        </div>
                    </div>
                </ul>
            </nav>
        </div>
    </div>
</footer>
