{% extends 'base.html.twig' %}

{% block title %}Modifier mon profil{% endblock %}

{% block body %}
    <div class="container">
        <h1>Formulaire de modification des informations de l'utilisateur</h1>
        {{ form(form)}}
    </div>
{% endblock %}