{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block body %}
<section>
    {% for message in app.flashes ('success') %}
        <div class="alert alert-success" role="alert">
            {{ message }}
        </div>
    {% endfor %}

    <div>
        
        <a class="btn btn-dark text-white" href="">Editer mon profil</a></li>
        
    </div>
    <div class="mb-3 text-center">
        <p>Vous êtes connecté(e) en tant que {{ app.user.userIdentifier }}, <a href="{{ path('security.logout') }}">Me déconnecter</a></p>
    </div>
    {% if is_granted('ROLE_ADMIN') %}
        {# <a href="{{ path ('admin')}}">Gérer</a> #}
    {% endif %}
</section>
{% endblock %}