{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block body %}
        <div class="mb-3 text-center">
            Vous êtes connecté(e) en tant que {{ app.user.userIdentifier }}, <a href="{{ path('security.logout') }}">Me déconnecter</a>
        </div>
        {% if is_granted('ROLE_ADMIN') %}
            {# <a href="{{ path ('admin')}}">Gérer</a> #}
        {% endif %}
{% endblock %}