{% extends 'base.html.twig' %}

{% block title %}Modifier mon mot de passe{% endblock %}

{% block body %}
    <div class="container">
        <h1>Formulaire de modification de mot de passe de l'utilisateur</h1>

        {% for message in app.flashes ('warning') %}
            <div class="alert alert-warning" role="alert">
                {{ message }}
            </div>
        {% endfor %}

        {{ form(form)}}
    </div>
{% endblock %}