body
{
    background-color: #f5f5f5;
    /* Texte normal avec Roboto Regular */
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.btn-outline-dark {
    background-color: #F5F5F5; /* Exemple de couleur personnalisée */
    border-color: #333333;     /* Changer la couleur de la bordure */
}

.btn-outline-dark:hover {
    background-color: #333333;  /* Fond noir au survol */
    color: #F5F5F5;             /* Texte blanc au survol */
}

/* Modifier le fond des boutons btn-dark (s'il est utilisé) */
.btn-dark {
    background-color: #333333;  /* Fond noir */
    border-color: #333333;      /* Bordure noire */
    color: #F5F5F5;             /* Texte blanc */
}

.btn-dark:hover {
    background-color: #444444;  /* Fond gris foncé au survol */
    color: #F5F5F5;             /* Texte blanc au survol */
}

/* Personnalisation des tableaux */
.table {
    border-color: #333333;    /* Bordure des tableaux */
    background-color: #F5F5F5; /* Fond des tableaux (légèrement gris) */
}

.table th, .table td {
    border-color: #333333;    /* Bordure des cellules du tableau */
}

/* Ajouter des couleurs pour les lignes du tableau */
.table-striped tbody tr:nth-of-type(odd) {
    background-color: #e9ecef;  /* Lignes impaires en fond gris clair */
}

.table-striped tbody tr:nth-of-type(even) {
    background-color: #F5F5F5;  /* Lignes paires en fond très clair */
}

/* Modifier les en-têtes de tableau */
.table th {
    background-color: #333333;  /* Fond des en-têtes du tableau */
    color: #F5F5F5;             /* Texte blanc pour les en-têtes */
}

th a {
    text-decoration: none;
    color: #C9A96E;
    display: inline-block;
    transition: color 0.3s ease, transform 0.3s ease; /* Transition pour couleur et effet de zoom */
}

th a:hover {
    color: #C9A96E; /* Une couleur bleue pour surbriller le lien */
    text-decoration: underline; /* Ajoute un soulignement au survol */
    transform: scale(1.05); /* Légère augmentation de la taille (zoom) */
}

/* PAGINATOR */
.pagination {
    justify-content: center;
}

/* Couleur de fond des liens */
.page-link {
    color: #333333;
    background-color: #f5f5f5; 
    border: 1px solid #333333; 
    transition: background-color 0.3s ease, color 0.3s ease; 
}

/* Survol des liens */
.page-link:hover {
    color: #C9A96E;
    background-color: #333333;
    border-color: #333333;
}

/* Active (la page courante) */
.page-item.active .page-link {
    background-color: #333333;
    color: #C9A96E;
    border-color: #333333;
}

/* Désactivé (Précédent ou Suivant quand il est inactif) */
.page-item.disabled .page-link {
    background-color: #F5F5F5;
    color: #6c757d;
    border-color: #333333;
    text-decoration-line: line-through;
}


nav , footer
{
    min-height: 90px; /* Ajustez cette valeur selon vos besoins */
    display: flex;
    align-items: center; /* Centre le contenu verticalement */
}
footer {
    margin-top: auto;
}

/* Texte en gras avec Roboto Bold */
h1, h2, h3 
{
    font-family: 'Roboto', sans-serif;
    font-weight: 700; /* Bold */
}

p
{
    font-size: 1.1rem;
}

/* Texte en italique avec Roboto Italic */
em {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: italic;
}

.charcoal 
{
    color: #333333;
}

.bg-charcoal 
{
    background-color: #333333;
}

.white
{
    color:  #F5F5F5;
}

.gold 
{
    color: #C9A96E;
}
.bg-white
{
    background-color: #F5F5F5;
}

.bg-li
{
    background-color: #e6e6e6;
}

.nav-link , .nav-item {
    color: #C9A96E;
    font-size: 1.5rem;
    margin: auto;
    transition: transform 0.3s ease, font-weight 0.3s ease;
}

.navbar-nav .nav-link:hover , .nav-item:hover {
    color: #C9A96E; /* Couleur sur hover */
    font-weight: bold; /* Mettre en gras */
    transform: scale(1.15); /* Zoom de 15% */
}

.navbar-nav .nav-link.active
{
    color: #C9A96E;
    font-size: 1.8rem;
    margin: auto;
    font-weight: bold;
    font-style: italic;
}


.bg-gold 
{
    background-color: #C9A96E;
}

.fog 
{
    color: #585858;
}

.bg-fog 
{
    background-color: #585858;
}

.shadow
{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.inner-shadow
{
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5), 0 0 20px rgba(0, 0, 0, 0.3);
}


/* Appliquer uniquement aux images dans la section .product-list */
.product-list .card-img-top {
    width: 100%;          /* L'image prendra la largeur de la carte */
    height: 300px;        /* Fixe une hauteur uniforme pour toutes les images */
    object-fit: cover;    /* Permet à l'image de couvrir la zone sans déformer */
}

#produitDetail .card-img-top
{
    width: 100%;          /* L'image prendra la largeur de la carte */
    height: 50vh;        /* Fixe une hauteur uniforme pour toutes les images */
    object-fit: cover;    /* Permet à l'image de couvrir la zone sans déformer */
}

.categorie-list .card-img-top {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.categorie-list .card-title {
    color: #C9A96E; /* Rend l'intérieur du texte transparent */ 
    text-shadow: 
        2px 2px 0 #333333,
        -2px 2px 0 #333333,
        2px -2px 0 #333333,
        -2px -2px 0 #333333,
        0 2px 0 #333333,
        0 -2px 0 #333333,
        2px 0 0 #333333,
        -2px 0 0 #333333;
    transition: transform 0.3s ease, text-shadow 0.3s ease, color 0.3s ease;
}

.categorie-list .card-title:hover {
    transform: scale(1.3); /* Zoom sur le texte */
    font-weight: bold;     /* Texte en gras */
    color: #C9A96E;        /* Texte rempli */
    text-shadow: 
        2px 2px 0 #333333,
        -2px 2px 0 #333333,
        2px -2px 0 #333333,
        -2px -2px 0 #333333,
        0 2px 0 #333333,
        0 -2px 0 #333333,
        2px 0 0 #333333,
        -2px 0 0 #333333;
}

.table-centered td, 
.table-centered th {
    text-align: center; /* Centrage horizontal */
    vertical-align: middle; /* Centrage vertical */
}

